*{
  padding: 0;
  margin: 0%;

}
#navbar{
    height:150px;
    width:100%;
    border:0px solid red;
    display:grid;
    /* position:fixed; */
    grid-template-columns: repeat(1,1fr);
    background: rgb(128,204,204);
    background: linear-gradient(99deg, rgba(128,204,204,1) 0%, rgba(79,102,140,1) 87%);

}
#navbar div{
  height:100%;
  width:100%;
  border:0px solid red;
}
#navbar img{
  height:50px;
  margin-top:30px;
}
#hiv{
  display: flex;
  gap: 15px;
  
}
#hiv p{
  margin-left: 50px;
  margin: auto;
  font-size: large;
}
input{
  margin-left: 100px;
  font-size: large;
 padding: 9px;
 border-radius: 20px;
 width: 60%;
}

#contain{
    height:auto;
    width:90%;
    margin: auto;
    border:0px solid black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;

}
#contain div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}
#contain img{
    height:280px;
    width:250px;
    margin-top: 15px;
    margin-left: 20%;
}
#contain p{
    text-align: center;
    font-weight: bold;
}
#contain button{
    font-size: larger;
   background-color:#108473 ;
   color: white;
   border: none;
   margin:0 40% 
  }
  #contain button{
    padding: 10px;
    border-radius: 10px;
  }
  #contain button:hover{
    background-color: orange;
    color: white;
  }
  #body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    margin-left:50px;
    margin-bottom: 10px;
  }
  #form div{
    border:0px solid black;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  #form input{
    margin-top: 50px;
  }
 #form button{
    margin-left:97px;
    width: 64%;
    margin-top: 40px;
    padding: 10px;
    background-color: #108473;
    color: aliceblue;
    font-size: large;
    border-radius: 20px;
    border:none
  }
  #form h3{
    margin-left:17%;
    margin-top: 20px;
  }
  #form div{
    width:80%;
    height:400px;
    background: rgb(178,184,184);
    background: linear-gradient(99deg, rgba(178,184,184,1) 0%, rgba(185,189,194,1) 87%);
  }
  #form div p{
    font-size: large;
    margin-top: 20px;
    margin-left: 100px;
  }
  @media all and (min-width:320px) and (max-width:650px){
    #contain{
        grid-template-columns: repeat(1,1fr);
    }
  }
  @media all and (min-width:650px) and (max-width:1020px){
    #contain{
        grid-template-columns: repeat(2,1fr);
    }
  }