form{
    height:350px;
    width:43%;
    border:0px solid red;
    margin: auto;
    margin-top: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
form>img{
    width: 100%;
    height:150px;
    background-color: #108473;
   
}
input{
    font-size: xx-large;
    margin-top: 30px;
    width: 98%;
    border-radius: 7px;
    
}
input[type="submit"]{
    margin-top: 30px;
    font-size:xx-large;
    width:99%;
    background-color: #108473;
    border-radius: 6px;
     color: white; 
    border: none;
    
    
}
p{
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}
l{
   color: blue;
}