#container{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    text-align: center;
    margin-top: 60px;
    
}
#container>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin-right: 20px;
   margin-bottom: 20px;
   
}
p{
    text-align: center;
    font-weight: bold;
}
button{
  font-size: larger;
 background-color:#108473 ;
 color: white;
 border: none;
}
#container img{
    height:350px;
    width:250px;
    margin-top: 15px;
}
#container>div:hover{
    background-color: rgb(205, 150, 150);
}
button:hover{
    background-color:white;
 color:#108473 ;
}